body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    display: flex;
    margin-bottom: 100px;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container {
    width: 400px;
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    margin-top: 115px;
    height: 400px;
    background-color: #337ab7; 
    text-align: center;
}
.column{
    float: left;
    width: 23%;
    padding: 0;
}
.login-container form {
    padding: 0 35px;
}

.center-image {
    display: block;
    margin: 0 auto;
}

img.center-image {
    margin: 0 auto;
}

#email, #password, #forgot-email, #new-password, #confirm-password {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 14px;
}
input {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid #CCC;
}
#position{
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    background-color: white;
    box-sizing: border-box;
    border-radius: 10px;
    font-size: 14px;
    border: 1px solid #CCC;
}
p{
    color: white;
}
a{
    color: white;
}

button, #btnLogin, #logout-btn {
    width: 100px;
    height: 30px;
    background-color: white;
   
    color: #000000;
    border: none;
    border-radius: 15px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}

#register {
    color: white;
    width: 100%;
    height: 60px;
    display: flex; /* Add this line */
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}

#register a {
    color: black;
    text-align: center;
}

label {
    display: block;
    font-size: 14px;
    color: white;
    text-align: start;
    margin-bottom: 5px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: white;
    font-size: 30px;
}
#vigan{
    font-size: 14px;
    color: white;
}
#forgotPass{
    font-size: 14px;
    color: white;
}
.row.content {
    height: 4000px;
}

.sidenav {
    background-color: white;
    height: 100%;
}

@media screen and (max-width: 1000px) {
    .row.content {
        height: 1000px;
    }
}

.password-container {
    position: relative;
}

.password-container input {
    width: 100%;
    padding-right: 40px;
}

.password-container .toggle-password {
    position: absolute;
    right: 10px;
    top: 40%;
    transform: translateY(-50%);
    cursor: pointer;
}